# Converting dataframes, putting right Until time

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

In [2]:
mohd_df_satsp_part1 = pd.read_csv("SATSP_setpoints_jun_oct.csv")
mohd_df_satsp_part2 = pd.read_csv("SATSP_setpoints.csv")
mohd_df_rat_part1 = pd.read_csv("RAT_log.csv")
mohd_df_rat_part2 = pd.read_csv("RAT_log_part2.csv")
mohd_df_rat_part3 = pd.read_csv("RATEMP_log_part2.csv")
mohd_df_ratsp_part_1 = pd.read_csv("RATSP_jun_oct.csv")
mohd_df_ratsp_part_2 = pd.read_csv("RATSP_from_oct.csv")

In [3]:
mohd_df_satsp = pd.concat([mohd_df_satsp_part1, mohd_df_satsp_part2], ignore_index=True)
mohd_df_rat = pd.concat([mohd_df_rat_part1, mohd_df_rat_part2, mohd_df_rat_part3], ignore_index=True)
mohd_df_ratsp = pd.concat([mohd_df_ratsp_part_1, mohd_df_ratsp_part_2], ignore_index=True)
mohd_df_ratsp

,created_at,device_prop_name,property_value,property_obj,property_id,property_addr
0,2022-08-27 22:40:20.657 +0300,RF'Area02'OS23'AHUMRF02'ACTRATSP,18,analogValue:1,NaN,NaN
1,2022-06-21 05:33:34.698 +0300,RF'Area02'OS23'AHUMRF02'ACTRATSP,18,analogValue:1,NaN,NaN
2,2022-07-19 15:48:13.477 +0300,RF'Area02'OS23'AHUMRF02'ACTRATSP,18,analogValue:1,NaN,NaN
3,2022-07-16 15:07:43.478 +0300,RF'Area02'OS23'AHUMRF02'ACTRATSP,18,analogValue:1,NaN,NaN
4,2022-07-04 03:02:59.205 +0300,RF'Area02'OS23'AHUMRF02'ACTRATSP,18,analogValue:1,NaN,NaN
...,...,...,...,...,...,...
38930,2022-12-23 05:45:01.938 +0300,RF'Area09'OS34'AHUMRF02'RATSP,22,analogValue:6,629752db88c869f87c116521,6:0x01a9
38931,2022-12-23 04:18:51.288 +0300,RF'Area09'OS34'AHUMRF02'RATSP,22,analogValue:6,629752db88c869f87c116521,6:0x01a9
38932,2022-12-23 02:53:14.974 +0300,RF'Area09'OS34'AHUMRF02'RATSP,22,analogValue:6,629752db88c869f87c116521,6:0x01a9
38933,2022-10-15 20:38:07.795 +0300,RF'Area09'OS34'AHUMRF02'RATSP,20,analogValue:6,629752db88c869f87c116521,6:0x01a9
38934,2023-01-08 02:00:12.641 +0300,RF'Area09'OS34'AHUMRF02'RATSP,22,analogValue:6,629752db88c869f87c116521,6:0x01a9

In [4]:
mohd_df_satsp.drop(["property_id", "property_obj", "property_addr"], axis=1, inplace=True)
mohd_df_ratsp.drop(["property_id", "property_obj", "property_addr"], axis=1, inplace=True)
mohd_df_ratsp

,created_at,device_prop_name,property_value
0,2022-08-27 22:40:20.657 +0300,RF'Area02'OS23'AHUMRF02'ACTRATSP,18
1,2022-06-21 05:33:34.698 +0300,RF'Area02'OS23'AHUMRF02'ACTRATSP,18
2,2022-07-19 15:48:13.477 +0300,RF'Area02'OS23'AHUMRF02'ACTRATSP,18
3,2022-07-16 15:07:43.478 +0300,RF'Area02'OS23'AHUMRF02'ACTRATSP,18
4,2022-07-04 03:02:59.205 +0300,RF'Area02'OS23'AHUMRF02'ACTRATSP,18
...,...,...,...
38930,2022-12-23 05:45:01.938 +0300,RF'Area09'OS34'AHUMRF02'RATSP,22
38931,2022-12-23 04:18:51.288 +0300,RF'Area09'OS34'AHUMRF02'RATSP,22
38932,2022-12-23 02:53:14.974 +0300,RF'Area09'OS34'AHUMRF02'RATSP,22
38933,2022-10-15 20:38:07.795 +0300,RF'Area09'OS34'AHUMRF02'RATSP,20
38934,2023-01-08 02:00:12.641 +0300,RF'Area09'OS34'AHUMRF02'RATSP,22

In [5]:
def make_right_df(csv_df):
    csv_df_dict = csv_df.to_dict('records')
    created_at = []
    time = []
    time_until = []
    prefix = []
    zone = []
    device_name = []
    device_prop_name = []
    parameter = []
    for row in csv_df_dict:
        try:
            datetime_instance = datetime.strptime(row["created_at"].replace(" +0300",''), '%Y-%m-%d %H:%M:%S.%f')
        except ValueError:
            try:
                datetime_instance = datetime.strptime(row["created_at"].replace("+03",''), '%Y-%m-%d %H:%M:%S')
            except ValueError:
                datetime_instance = datetime.strptime(row["created_at"].split(".")[0], '%Y-%m-%d %H:%M:%S')
        created_at.append(datetime.date(datetime_instance))
        time.append(datetime.time(datetime_instance))
        time_until.append("Placeholder")
        d_p_n = row["device_prop_name"].split("'")
        prefix.append(d_p_n[0])
        zone.append(d_p_n[1])
        device_name.append(d_p_n[2])
        device_prop_name.append(d_p_n[3])
        parameter.append(d_p_n[4])
    new_df = pd.DataFrame()
    new_df["created_at"] = created_at
    new_df["Time"] = time
    new_df["Time Until"] = time_until
    new_df["property_value"] = csv_df["property_value"]    
    new_df["prefix"] = prefix
    new_df["Zone"] = zone
    new_df["device name"] = device_name
    new_df["device_prop_name"] = device_prop_name
    new_df["parameter"] = parameter
    return new_df

In [6]:
right_satsp_df = make_right_df(mohd_df_satsp).copy(deep=True)
right_rat_df = make_right_df(mohd_df_rat).copy(deep=True)
right_ratsp_df = make_right_df(mohd_df_ratsp).copy(deep=True)
right_ratsp_df

,created_at,Time,Time Until,property_value,prefix,Zone,device name,device_prop_name,parameter
0,2022-08-27,22:40:20.657000,Placeholder,18,RF,Area02,OS23,AHUMRF02,ACTRATSP
1,2022-06-21,05:33:34.698000,Placeholder,18,RF,Area02,OS23,AHUMRF02,ACTRATSP
2,2022-07-19,15:48:13.477000,Placeholder,18,RF,Area02,OS23,AHUMRF02,ACTRATSP
3,2022-07-16,15:07:43.478000,Placeholder,18,RF,Area02,OS23,AHUMRF02,ACTRATSP
4,2022-07-04,03:02:59.205000,Placeholder,18,RF,Area02,OS23,AHUMRF02,ACTRATSP
...,...,...,...,...,...,...,...,...,...
38930,2022-12-23,05:45:01.938000,Placeholder,22,RF,Area09,OS34,AHUMRF02,RATSP
38931,2022-12-23,04:18:51.288000,Placeholder,22,RF,Area09,OS34,AHUMRF02,RATSP
38932,2022-12-23,02:53:14.974000,Placeholder,22,RF,Area09,OS34,AHUMRF02,RATSP
38933,2022-10-15,20:38:07.795000,Placeholder,20,RF,Area09,OS34,AHUMRF02,RATSP
38934,2023-01-08,02:00:12.641000,Placeholder,22,RF,Area09,OS34,AHUMRF02,RATSP

In [7]:
print(right_satsp_df.duplicated().any())
print(right_rat_df.duplicated().any())
print(right_ratsp_df.duplicated().any())
right_ratsp_df = right_ratsp_df.drop_duplicates()
right_ratsp_df

False
False
True

,created_at,Time,Time Until,property_value,prefix,Zone,device name,device_prop_name,parameter
0,2022-08-27,22:40:20.657000,Placeholder,18,RF,Area02,OS23,AHUMRF02,ACTRATSP
1,2022-06-21,05:33:34.698000,Placeholder,18,RF,Area02,OS23,AHUMRF02,ACTRATSP
2,2022-07-19,15:48:13.477000,Placeholder,18,RF,Area02,OS23,AHUMRF02,ACTRATSP
3,2022-07-16,15:07:43.478000,Placeholder,18,RF,Area02,OS23,AHUMRF02,ACTRATSP
4,2022-07-04,03:02:59.205000,Placeholder,18,RF,Area02,OS23,AHUMRF02,ACTRATSP
...,...,...,...,...,...,...,...,...,...
38930,2022-12-23,05:45:01.938000,Placeholder,22,RF,Area09,OS34,AHUMRF02,RATSP
38931,2022-12-23,04:18:51.288000,Placeholder,22,RF,Area09,OS34,AHUMRF02,RATSP
38932,2022-12-23,02:53:14.974000,Placeholder,22,RF,Area09,OS34,AHUMRF02,RATSP
38933,2022-10-15,20:38:07.795000,Placeholder,20,RF,Area09,OS34,AHUMRF02,RATSP
38934,2023-01-08,02:00:12.641000,Placeholder,22,RF,Area09,OS34,AHUMRF02,RATSP

In [8]:
pivoted_satsp_df = right_satsp_df.pivot(index=["created_at", "Time", "Time Until"], columns=["Zone", "device name", "device_prop_name"], values="property_value").copy(deep=True)
pivoted_satsp_df.reset_index(inplace=True, col_level=2)
pivoted_rat_df = right_rat_df.pivot(index=["created_at", "Time", "Time Until"], columns=["Zone", "device name", "device_prop_name"], values="property_value").copy(deep=True)
pivoted_rat_df.reset_index(inplace=True, col_level=2)
pivoted_ratsp_df = right_ratsp_df.pivot(index=["created_at", "Time", "Time Until"], columns=["Zone", "device name", "device_prop_name"], values="property_value").copy(deep=True)
pivoted_ratsp_df.reset_index(inplace=True, col_level=2)
pivoted_ratsp_df

Zone                                                         Area02  Area01  \
device name                                                    OS23    OS01
device_prop_name  created_at             Time   Time Until AHUMRF02 AHUMB02
0                 2022-06-02  16:55:55.626000  Placeholder      NaN     NaN
1                 2022-06-02  16:55:59.626000  Placeholder      NaN     NaN
2                 2022-06-02  16:56:06.916000  Placeholder      NaN     NaN
3                 2022-06-02  16:56:08.995000  Placeholder      NaN     NaN
4                 2022-06-02  16:56:42.936000  Placeholder      NaN     NaN
...                      ...              ...          ...      ...     ...
38859             2023-02-15  18:14:01.833000  Placeholder      NaN     NaN
38860             2023-02-15  18:14:03.712000  Placeholder      NaN     NaN
38861             2023-02-15  18:15:00.675000  Placeholder      NaN     NaN
38862             2023-02-15  18:15:35.944000  Placeholder      NaN    22.0
38863             2023-02-15  18:17:26.871000  Placeholder      NaN     NaN

Zone               Area09   Area06   Area10            Area04
device name          OS34     OS33     OS11      OS13    OS06     OS05
device_prop_name AHUMRF02 AHUMRF04 AHUMGZ01 AHUMGZ01D AHUGZ01 AHUMGZ01
0                     NaN     22.0      NaN       NaN     NaN      NaN
1                     NaN      NaN     22.0       NaN     NaN      NaN
2                     NaN      NaN      NaN      22.0     NaN      NaN
3                     NaN      NaN      NaN       NaN    22.0      NaN
4                     NaN     22.0      NaN       NaN     NaN      NaN
...                   ...      ...      ...       ...     ...      ...
38859                 NaN      NaN      NaN      22.0     NaN      NaN
38860                 NaN      NaN      NaN       NaN    22.0      NaN
38861                 NaN      NaN      NaN       NaN     NaN     22.0
38862                 NaN      NaN      NaN       NaN     NaN      NaN
38863                22.0      NaN      NaN       NaN     NaN      NaN

[38864 rows x 11 columns]

In [9]:
# satsp_df_no_multiindex = pivoted_satsp_df.droplevel(["Zone", "device name"], axis=1).copy(deep=True)
# rat_df_no_multiindex = pivoted_rat_df.droplevel(["Zone", "device name"], axis=1).copy(deep=True)
# satsp_df_no_multiindex

In [10]:
def put_right_Until(df):
    for number_row, actual_row in enumerate(df.to_dict('records')):
        try:
            date_of_the_current_data_point = actual_row[('', '', 'created_at')]
            time_of_the_current_data_point = actual_row[('', '', 'Time')]
            property_with_data = df.iloc[number_row][3:].first_valid_index()
            next_data_point_index = df[property_with_data][number_row + 1:].first_valid_index()
            date_of_the_next_data_point = df.loc[next_data_point_index, ('', '', 'created_at')]
            time_of_the_next_data_point = df.loc[next_data_point_index, ('', '', 'Time')]
        except KeyError:
            date_of_the_next_data_point = actual_row[('', '', 'created_at')]
            time_of_the_next_data_point = actual_row[('', '', 'Time')]
        if date_of_the_next_data_point != date_of_the_current_data_point:
            df.loc[number_row, ('', '', 'created_at')] = date_of_the_next_data_point
        if time_of_the_next_data_point.minute < 30:
            if time_of_the_next_data_point.hour <= 9:
                time_until = f'Until 0{time_of_the_next_data_point.hour}:00'
            else:
                time_until = f'Until {time_of_the_next_data_point.hour}:00'
        else:
            if time_of_the_next_data_point.hour <= 8:
                time_until = f'Until 0{time_of_the_next_data_point.hour + 1}:00'
            else:
                time_until = f'Until {time_of_the_next_data_point.hour + 1}:00'
        
        if time_until == "Until 00:00":
            time_until = "Until 24:00"
        
        df.loc[number_row, ('', '', 'Time Until')] = time_until
    
    return df
        

satsp_df_with_until = put_right_Until(pivoted_satsp_df).copy(deep=True)
rat_df_with_until = put_right_Until(pivoted_rat_df).copy(deep=True)
ratsp_df_with_until = put_right_Until(pivoted_ratsp_df).copy(deep=True)
ratsp_df_with_until

Zone                                                         Area02  Area01  \
device name                                                    OS23    OS01
device_prop_name  created_at             Time   Time Until AHUMRF02 AHUMB02
0                 2022-06-02  16:55:55.626000  Until 17:00      NaN     NaN
1                 2022-06-02  16:55:59.626000  Until 17:00      NaN     NaN
2                 2022-06-02  16:56:06.916000  Until 17:00      NaN     NaN
3                 2022-06-02  16:56:08.995000  Until 17:00      NaN     NaN
4                 2022-06-02  16:56:42.936000  Until 18:00      NaN     NaN
...                      ...              ...          ...      ...     ...
38859             2023-02-15  18:14:01.833000  Until 18:00      NaN     NaN
38860             2023-02-15  18:14:03.712000  Until 18:00      NaN     NaN
38861             2023-02-15  18:15:00.675000  Until 18:00      NaN     NaN
38862             2023-02-15  18:15:35.944000  Until 18:00      NaN    22.0
38863             2023-02-15  18:17:26.871000  Until 18:00      NaN     NaN

Zone               Area09   Area06   Area10            Area04
device name          OS34     OS33     OS11      OS13    OS06     OS05
device_prop_name AHUMRF02 AHUMRF04 AHUMGZ01 AHUMGZ01D AHUGZ01 AHUMGZ01
0                     NaN     22.0      NaN       NaN     NaN      NaN
1                     NaN      NaN     22.0       NaN     NaN      NaN
2                     NaN      NaN      NaN      22.0     NaN      NaN
3                     NaN      NaN      NaN       NaN    22.0      NaN
4                     NaN     22.0      NaN       NaN     NaN      NaN
...                   ...      ...      ...       ...     ...      ...
38859                 NaN      NaN      NaN      22.0     NaN      NaN
38860                 NaN      NaN      NaN       NaN    22.0      NaN
38861                 NaN      NaN      NaN       NaN     NaN     22.0
38862                 NaN      NaN      NaN       NaN     NaN      NaN
38863                22.0      NaN      NaN       NaN     NaN      NaN

[38864 rows x 11 columns]

In [11]:
def sort_by_time(df):
    hours = []
    df_dict = df.to_dict('records')
    for sort_row in df_dict:
        hours.append(int(sort_row[('', '', 'Time Until')][-5:-3]))
    df[('', '', "Hours")] = hours
    df.sort_values(by=[('', '', 'created_at'),('', '', "Hours")], inplace=True,
               ascending = [True, True], ignore_index=True)
    df.drop([('', '', "Hours")], axis=1, inplace=True)
    return df

sorted_satsp_df = sort_by_time(satsp_df_with_until).copy(deep=True)
sorted_rat_df = sort_by_time(rat_df_with_until).copy(deep=True)
sorted_ratsp_df = sort_by_time(ratsp_df_with_until).copy(deep=True)
sorted_ratsp_df

Zone                                                         Area02  Area01  \
device name                                                    OS23    OS01
device_prop_name  created_at             Time   Time Until AHUMRF02 AHUMB02
0                 2022-06-02  16:55:55.626000  Until 17:00      NaN     NaN
1                 2022-06-02  16:55:59.626000  Until 17:00      NaN     NaN
2                 2022-06-02  16:56:06.916000  Until 17:00      NaN     NaN
3                 2022-06-02  16:56:08.995000  Until 17:00      NaN     NaN
4                 2022-06-02  16:57:02.788000  Until 17:00      NaN     NaN
...                      ...              ...          ...      ...     ...
38859             2023-02-15  22:55:34.007000  Until 24:00      NaN     NaN
38860             2023-02-15  22:55:35.894000  Until 24:00      NaN     NaN
38861             2023-02-15  22:56:27.253000  Until 24:00      NaN     NaN
38862             2023-02-15  22:57:08.651000  Until 24:00      NaN    22.0
38863             2023-02-15  22:59:00.057000  Until 24:00      NaN     NaN

Zone               Area09   Area06   Area10            Area04
device name          OS34     OS33     OS11      OS13    OS06     OS05
device_prop_name AHUMRF02 AHUMRF04 AHUMGZ01 AHUMGZ01D AHUGZ01 AHUMGZ01
0                     NaN     22.0      NaN       NaN     NaN      NaN
1                     NaN      NaN     22.0       NaN     NaN      NaN
2                     NaN      NaN      NaN      22.0     NaN      NaN
3                     NaN      NaN      NaN       NaN    22.0      NaN
4                     NaN      NaN      NaN       NaN     NaN     22.0
...                   ...      ...      ...       ...     ...      ...
38859                 NaN      NaN      NaN      22.0     NaN      NaN
38860                 NaN      NaN      NaN       NaN    22.0      NaN
38861                 NaN      NaN      NaN       NaN     NaN     22.0
38862                 NaN      NaN      NaN       NaN     NaN      NaN
38863                22.0      NaN      NaN       NaN     NaN      NaN

[38864 rows x 11 columns]

In [12]:
sorted_satsp_df.drop([('', '', 'Time')], axis=1, inplace=True)
sorted_rat_df.drop([('', '', 'Time')], axis=1, inplace=True)
sorted_ratsp_df.drop([('', '', 'Time')], axis=1, inplace=True)
sorted_ratsp_df

Zone                                        Area02  Area01   Area09   Area06  \
device name                                   OS23    OS01     OS34     OS33
device_prop_name  created_at   Time Until AHUMRF02 AHUMB02 AHUMRF02 AHUMRF04
0                 2022-06-02  Until 17:00      NaN     NaN      NaN     22.0
1                 2022-06-02  Until 17:00      NaN     NaN      NaN      NaN
2                 2022-06-02  Until 17:00      NaN     NaN      NaN      NaN
3                 2022-06-02  Until 17:00      NaN     NaN      NaN      NaN
4                 2022-06-02  Until 17:00      NaN     NaN      NaN      NaN
...                      ...          ...      ...     ...      ...      ...
38859             2023-02-15  Until 24:00      NaN     NaN      NaN      NaN
38860             2023-02-15  Until 24:00      NaN     NaN      NaN      NaN
38861             2023-02-15  Until 24:00      NaN     NaN      NaN      NaN
38862             2023-02-15  Until 24:00      NaN    22.0      NaN      NaN
38863             2023-02-15  Until 24:00      NaN     NaN     22.0      NaN

Zone               Area10            Area04
device name          OS11      OS13    OS06     OS05
device_prop_name AHUMGZ01 AHUMGZ01D AHUGZ01 AHUMGZ01
0                     NaN       NaN     NaN      NaN
1                    22.0       NaN     NaN      NaN
2                     NaN      22.0     NaN      NaN
3                     NaN       NaN    22.0      NaN
4                     NaN       NaN     NaN     22.0
...                   ...       ...     ...      ...
38859                 NaN      22.0     NaN      NaN
38860                 NaN       NaN    22.0      NaN
38861                 NaN       NaN     NaN     22.0
38862                 NaN       NaN     NaN      NaN
38863                 NaN       NaN     NaN      NaN

[38864 rows x 10 columns]

In [13]:
grouped_satsp_df = sorted_satsp_df.groupby([('', '', 'created_at'), ('', '', 'Time Until')])[list(sorted_satsp_df.columns.values[2:])].first().copy(deep=True)
grouped_rat_df = sorted_rat_df.groupby([('', '', 'created_at'), ('', '', 'Time Until')])[list(sorted_rat_df.columns.values[2:])].first().copy(deep=True)
grouped_ratsp_df = sorted_ratsp_df.groupby([('', '', 'created_at'), ('', '', 'Time Until')])[list(sorted_ratsp_df.columns.values[2:])].first().copy(deep=True)
grouped_ratsp_df

Zone                                Area02  Area01   Area09   Area06   Area10  \
device name                           OS23    OS01     OS34     OS33     OS11
device_prop_name                  AHUMRF02 AHUMB02 AHUMRF02 AHUMRF04 AHUMGZ01
(, , created_at) (, , Time Until)
2022-06-02       Until 17:00           NaN    22.0     22.0     22.0     22.0
                 Until 18:00          18.0    22.0     22.0     22.0     22.0
                 Until 20:00          18.0    22.0     22.0     22.0     22.0
                 Until 21:00          18.0    22.0     22.0     22.0     22.0
                 Until 23:00          18.0    22.0     22.0     22.0     22.0
...                                    ...     ...      ...      ...      ...
2023-02-15       Until 14:00           NaN    22.0     22.0     24.0     22.0
                 Until 15:00           NaN    22.0     22.0     24.0     22.0
                 Until 17:00           NaN    22.0     22.0     24.0     22.0
                 Until 18:00           NaN    22.0     22.0     24.0     22.0
                 Until 24:00           NaN    22.0     22.0     24.0     22.0

Zone                                         Area04
device name                            OS13    OS06     OS05
device_prop_name                  AHUMGZ01D AHUGZ01 AHUMGZ01
(, , created_at) (, , Time Until)
2022-06-02       Until 17:00           22.0    22.0     22.0
                 Until 18:00           22.0    22.0     22.0
                 Until 20:00           22.0    22.0     22.0
                 Until 21:00           22.0    22.0     22.0
                 Until 23:00           22.0    22.0     22.0
...                                     ...     ...      ...
2023-02-15       Until 14:00           22.0    22.0     22.0
                 Until 15:00           22.0    22.0     22.0
                 Until 17:00           22.0    22.0     22.0
                 Until 18:00           22.0    22.0     22.0
                 Until 24:00           22.0    22.0     22.0

[3902 rows x 8 columns]

In [14]:
satsp_df_index_reset = grouped_satsp_df.reset_index().copy(deep=True)
satsp_df_index_reset.fillna(method='ffill', inplace=True)
satsp_df_filled_nas = satsp_df_index_reset.fillna(method='bfill').copy(deep=True)
rat_df_index_reset = grouped_rat_df.reset_index().copy(deep=True)
rat_df_index_reset.fillna(method='ffill', inplace=True)
rat_df_filled_nas = rat_df_index_reset.fillna(method='bfill').copy(deep=True)
ratsp_df_index_reset = grouped_ratsp_df.reset_index().copy(deep=True)
ratsp_df_index_reset.fillna(method='ffill', inplace=True)
ratsp_df_filled_nas = ratsp_df_index_reset.fillna(method='bfill').copy(deep=True)
ratsp_df_filled_nas

Zone                                        Area02  Area01   Area09   Area06  \
device name                                   OS23    OS01     OS34     OS33
device_prop_name  created_at   Time Until AHUMRF02 AHUMB02 AHUMRF02 AHUMRF04
0                 2022-06-02  Until 17:00     18.0    22.0     22.0     22.0
1                 2022-06-02  Until 18:00     18.0    22.0     22.0     22.0
2                 2022-06-02  Until 20:00     18.0    22.0     22.0     22.0
3                 2022-06-02  Until 21:00     18.0    22.0     22.0     22.0
4                 2022-06-02  Until 23:00     18.0    22.0     22.0     22.0
...                      ...          ...      ...     ...      ...      ...
3897              2023-02-15  Until 14:00     18.0    22.0     22.0     24.0
3898              2023-02-15  Until 15:00     18.0    22.0     22.0     24.0
3899              2023-02-15  Until 17:00     18.0    22.0     22.0     24.0
3900              2023-02-15  Until 18:00     18.0    22.0     22.0     24.0
3901              2023-02-15  Until 24:00     18.0    22.0     22.0     24.0

Zone               Area10            Area04
device name          OS11      OS13    OS06     OS05
device_prop_name AHUMGZ01 AHUMGZ01D AHUGZ01 AHUMGZ01
0                    22.0      22.0    22.0     22.0
1                    22.0      22.0    22.0     22.0
2                    22.0      22.0    22.0     22.0
3                    22.0      22.0    22.0     22.0
4                    22.0      22.0    22.0     22.0
...                   ...       ...     ...      ...
3897                 22.0      22.0    22.0     22.0
3898                 22.0      22.0    22.0     22.0
3899                 22.0      22.0    22.0     22.0
3900                 22.0      22.0    22.0     22.0
3901                 22.0      22.0    22.0     22.0

[3902 rows x 10 columns]

In [15]:
def days_in_month(month, year):
    months_with_31_days = [1, 3, 5, 7, 8, 10, 12]
    months_with_30_days = [4, 6, 9, 11]
    if month in months_with_31_days:
        return 31
    elif month in months_with_30_days:
        return 30
    elif month == 2:
        if (year % 400 == 0) and (year % 100 == 0):
            return 29
        elif (year % 4 == 0) and (year % 100 != 0):
            return 29
        else:
            return 28
    else:
        print(f"There was an error in month variable, it's: {month}")


def return_full_months_missing(missing_dates, year):
    number_of_missing_dates = {}
    month = 0
    num_of_days = 0
    for index, date in enumerate(missing_dates):
        if date.month != month and index != 0:
            number_of_missing_dates[month] = num_of_days
            num_of_days = 0
        month = date.month
        num_of_days += 1
    full_months = []
    for missing in number_of_missing_dates.keys():
        full_month = days_in_month(missing, year)
        if number_of_missing_dates[missing] == full_month:
            full_months.append(missing)
    return full_months


def get_all_dates_in_year(start, end):
    delta = end - start
    days = [datetime.date(start + timedelta(days=i)) for i in range(delta.days + 1)]
    return days


def add_full_months(df, months_missing, year):
    for month in months_missing:
        if month < 7:
            present_month = 7 - month + 7
        elif month > 7:
            present_month = 7 - (month - 7)
        else:
            present_month = 8
        filling_part = df.loc[df[('', '', "Months")] == present_month].copy()
        num_of_days_month = list(range(days_in_month(month, year) + 1))
        num_of_days_present_month = list(range(days_in_month(present_month, year) + 1))
        absent_days = [i for i in num_of_days_present_month if i not in num_of_days_month]
        for absent_day in absent_days:
            absent_indices = filling_part.index[filling_part[('', '', "Days")] == absent_day].tolist()
            filling_part = filling_part.drop(absent_indices, axis=0)
        num_of_days_month = [j for j in num_of_days_month if j in list(filling_part[('', '', "Days")].unique())]
        num_of_days_present_month = num_of_days_month.copy()
        num_of_days_present_month.reverse()
        new_dates = []
        new_months = []
        new_days = []
        n = 0
        for num_date, old_date in enumerate(filling_part[[('', '', 'created_at')]].values):
            if num_date == 0:
                working_on_day = old_date[0].day
            if old_date[0].day != working_on_day:
                n += 1
                working_on_day = old_date[0].day
            new_date = old_date[0].replace(month=month, day=num_of_days_present_month[n])
            new_dates.append(new_date)
            new_months.append(month)
            new_days.append(num_of_days_present_month[n])
        filling_part[('', '', 'created_at')] = new_dates
        filling_part[('', '', "Months")] = new_months
        filling_part[('', '', "Days")] = new_days
        df = pd.concat([df, filling_part], ignore_index=True)
    return df


def add_single_dates(df, missing_dates):
    for date in missing_dates:
        new_row_for_date = (df.loc[df[('', '', "Months")] == date.month].iloc[0]).copy()
        new_row_for_date[('', '', 'created_at')] = date
        df.loc[len(df)] = new_row_for_date
    return df


def add_rows_for_whole_year(df, year):
    df_dict = df.to_dict('records')
    months_from_created_at = []
    days_from_created_at = []
    for row_number, row in enumerate(df_dict):
        if row[('', '', 'created_at')].year != year:
            df.loc[row_number, ('', '', 'created_at')] = row[('', '', 'created_at')].replace(year=year)
        months_from_created_at.append(row[('', '', 'created_at')].month)
        days_from_created_at.append(row[('', '', 'created_at')].day)
    df[('', '', "Months")] = months_from_created_at
    df[('', '', "Days")] = days_from_created_at
    df.sort_values(by=[('', '', 'created_at'),('', '', 'Time Until')], inplace=True,
               ascending = [True, True], ignore_index=True)
    start_date = datetime(year, 1, 1)
    end_date = datetime(year, 12, 31)
    dates_range = get_all_dates_in_year(start_date, end_date)
    dates_present = list(df[('', '', 'created_at')].unique())
    missing_dates_range = [i for i in dates_range if i not in dates_present]
    full_months_missing = return_full_months_missing(missing_dates_range, year)
    df = add_full_months(df, full_months_missing, year)
    new_dates_present = list(df[('', '', 'created_at')].unique())
    new_missing_dates_range = [i for i in dates_range if i not in new_dates_present]
    df = add_single_dates(df, new_missing_dates_range)
    df.drop([('', '', "Months"), ('', '', "Days")], axis=1, inplace=True)
    df = sort_by_time(df)
    return df
    

satsp_df_whole_year = add_rows_for_whole_year(satsp_df_filled_nas, 2022).copy(deep=True)
rat_df_whole_year = add_rows_for_whole_year(rat_df_filled_nas, 2022).copy(deep=True)
ratsp_df_whole_year = add_rows_for_whole_year(ratsp_df_filled_nas, 2022).copy(deep=True)
ratsp_df_whole_year

Zone                                        Area02  Area01   Area09   Area06  \
device name                                   OS23    OS01     OS34     OS33
device_prop_name  created_at   Time Until AHUMRF02 AHUMB02 AHUMRF02 AHUMRF04
0                 2022-01-01  Until 15:00     18.0    22.0     22.0     22.0
1                 2022-01-02  Until 15:00     18.0    22.0     22.0     22.0
2                 2022-01-02  Until 18:00     18.0    22.0     22.0     22.0
3                 2022-01-02  Until 19:00     18.0    22.0     22.0     22.0
4                 2022-01-02  Until 21:00     18.0    22.0     22.0     22.0
...                      ...          ...      ...     ...      ...      ...
5177              2022-12-30  Until 05:00     18.0    22.0     22.0     22.0
5178              2022-12-30  Until 06:00     18.0    22.0     22.0     22.0
5179              2022-12-30  Until 08:00     18.0    22.0     22.0     22.0
5180              2022-12-30  Until 09:00     18.0    22.0     22.0     22.0
5181              2022-12-31  Until 01:00     18.0    22.0     22.0     22.0

Zone               Area10            Area04
device name          OS11      OS13    OS06     OS05
device_prop_name AHUMGZ01 AHUMGZ01D AHUGZ01 AHUMGZ01
0                    22.0      22.0    22.0     22.0
1                    22.0      22.0    22.0     22.0
2                    22.0      22.0    22.0     22.0
3                    22.0      22.0    22.0     22.0
4                    22.0      22.0    22.0     22.0
...                   ...       ...     ...      ...
5177                 22.0      22.0    22.0     22.0
5178                 22.0      22.0    22.0     22.0
5179                 22.0      22.0    22.0     22.0
5180                 22.0      22.0    22.0     22.0
5181                 22.0      22.0    22.0     22.0

[5182 rows x 10 columns]

In [16]:
def copy_previous_row(df, created_at, time_a, time_p, rows_added):
    needed_row = (df[(df[('', '', 'created_at')] == created_at) & (df[('', '', 'Time Until')] == time_p)]).copy()
    if int(time_a[-5:-3]) - int(time_p[-5:-3]) > 1:
        new_time_p = f"Until 0{int(time_a[-5:-3]) - 1}:00" if (int(time_a[-5:-3]) - 1) <= 9 else f"Until {int(time_a[-5:-3]) - 1}:00"
        needed_row = (df[(df[('', '', 'created_at')] == created_at) & (df[('', '', 'Time Until')] == new_time_p)]).copy()
    needed_row_index = needed_row.index.values[0]
    needed_row[('', '', 'Time Until')] = time_a
    needed_row = needed_row.values[0]
    if int(time_a[-5:-3]) > int(time_p[-5:-3]):
        df.loc[needed_row_index + 0.5] = needed_row
    else:
        if needed_row_index == 0:
            df.loc[-1] = needed_row
            df.index = df.index + 1 
        else:
            df.loc[needed_row_index - 0.5] = needed_row
    df = df.sort_index().reset_index(drop=True)
    rows_added += 1
    return df, rows_added


def add_missing_time_and_rows(df):
    df_dict = df.to_dict('records')
    times_must_have = ["Until 01:00", "Until 02:00", "Until 03:00", "Until 04:00", "Until 05:00", "Until 06:00",
                       "Until 07:00", "Until 08:00", "Until 09:00", "Until 10:00", "Until 11:00", "Until 12:00",
                       "Until 13:00", "Until 14:00", "Until 15:00", "Until 16:00", "Until 17:00", "Until 18:00",
                       "Until 19:00", "Until 20:00", "Until 21:00", "Until 22:00", "Until 23:00", "Until 24:00"]
    rows_added = 0
    for index_for_cur_date, created_at in enumerate(df[('', '', 'created_at')].unique()):
        times_present = df.loc[df[('', '', 'created_at')] == created_at][('', '', 'Time Until')].values.tolist()
        times_absent = [j for j in times_must_have if j not in times_present]
        index_of_present = 0
        for time_a in times_absent:
            if int(time_a[-5:-3]) < int(times_present[index_of_present][-5:-3]):
                df, rows_added = copy_previous_row(df, created_at, time_a, times_present[index_of_present], rows_added)
            else:
                while int(time_a[-5:-3]) > int(times_present[index_of_present][-5:-3]):
                    if len(times_present) == 1:
                        break
                    else:
                        times_present.pop(0)
                df, rows_added = copy_previous_row(df, created_at, time_a, times_present[index_of_present], rows_added)
    return df


satsp_df_with_missing_rows = add_missing_time_and_rows(satsp_df_whole_year).copy(deep=True)
rat_df_with_missing_rows = add_missing_time_and_rows(rat_df_whole_year).copy(deep=True)
ratsp_df_with_missing_rows = add_missing_time_and_rows(ratsp_df_whole_year).copy(deep=True)
ratsp_df_with_missing_rows

Zone                                        Area02  Area01   Area09   Area06  \
device name                                   OS23    OS01     OS34     OS33
device_prop_name  created_at   Time Until AHUMRF02 AHUMB02 AHUMRF02 AHUMRF04
0                 2022-01-01  Until 01:00     18.0    22.0     22.0     22.0
1                 2022-01-01  Until 02:00     18.0    22.0     22.0     22.0
2                 2022-01-01  Until 03:00     18.0    22.0     22.0     22.0
3                 2022-01-01  Until 04:00     18.0    22.0     22.0     22.0
4                 2022-01-01  Until 05:00     18.0    22.0     22.0     22.0
...                      ...          ...      ...     ...      ...      ...
8755              2022-12-31  Until 20:00     18.0    22.0     22.0     22.0
8756              2022-12-31  Until 21:00     18.0    22.0     22.0     22.0
8757              2022-12-31  Until 22:00     18.0    22.0     22.0     22.0
8758              2022-12-31  Until 23:00     18.0    22.0     22.0     22.0
8759              2022-12-31  Until 24:00     18.0    22.0     22.0     22.0

Zone               Area10            Area04
device name          OS11      OS13    OS06     OS05
device_prop_name AHUMGZ01 AHUMGZ01D AHUGZ01 AHUMGZ01
0                    22.0      22.0    22.0     22.0
1                    22.0      22.0    22.0     22.0
2                    22.0      22.0    22.0     22.0
3                    22.0      22.0    22.0     22.0
4                    22.0      22.0    22.0     22.0
...                   ...       ...     ...      ...
8755                 22.0      22.0    22.0     22.0
8756                 22.0      22.0    22.0     22.0
8757                 22.0      22.0    22.0     22.0
8758                 22.0      22.0    22.0     22.0
8759                 22.0      22.0    22.0     22.0

[8760 rows x 10 columns]

In [17]:
def add_through_and_until_every_second_row(df):
    df_dict = df.to_dict('records')
    row_index = 1
    row_date = 0
    for index, row in enumerate(df_dict):
        month = f"{row[('', '', 'created_at')].month:02d}"
        day = f"{row[('', '', 'created_at')].day:02d}"
        if index == 0:
            row_date = row[('', '', 'created_at')]
            df.loc[-3] = [f'Through: {month}/{day}'] * len(df.columns.values)
            df.loc[-2] = ['For: AllDays'] * len(df.columns.values)
            df.loc[-1] = [row[('', '', 'Time Until')]] * len(df.columns.values)
            df.index = df.index + 3
            row_index += 3
            continue
        if row[('', '', 'created_at')] != row_date:           
            df.loc[row_index - 0.5] = [f'Through: {month}/{day}'] * len(df.columns.values)
            df = df.sort_index().reset_index(drop=True)
            df.loc[row_index + 1 - 0.5] = ['For: AllDays'] * len(df.columns.values)
            df = df.sort_index().reset_index(drop=True)
            row_date = row[('', '', 'created_at')]
            row_index += 2
        df.loc[row_index - 0.5] = [row[('', '', 'Time Until')]] * len(df.columns.values)
        df = df.sort_index().reset_index(drop=True)
        row_index += 2
    return df


df_satsp_final = add_through_and_until_every_second_row(satsp_df_with_missing_rows)
df_rat_final = add_through_and_until_every_second_row(rat_df_with_missing_rows)
df_ratsp_final = add_through_and_until_every_second_row(ratsp_df_with_missing_rows)
df_ratsp_final

Zone                                                      Area02  \
device name                                                 OS23
device_prop_name      created_at      Time Until        AHUMRF02
0                 Through: 01/01  Through: 01/01  Through: 01/01
1                   For: AllDays    For: AllDays    For: AllDays
2                    Until 01:00     Until 01:00     Until 01:00
3                     2022-01-01     Until 01:00            18.0
4                    Until 02:00     Until 02:00     Until 02:00
...                          ...             ...             ...
18245                 2022-12-31     Until 22:00            18.0
18246                Until 23:00     Until 23:00     Until 23:00
18247                 2022-12-31     Until 23:00            18.0
18248                Until 24:00     Until 24:00     Until 24:00
18249                 2022-12-31     Until 24:00            18.0

Zone                      Area01          Area09          Area06  \
device name                 OS01            OS34            OS33
device_prop_name         AHUMB02        AHUMRF02        AHUMRF04
0                 Through: 01/01  Through: 01/01  Through: 01/01
1                   For: AllDays    For: AllDays    For: AllDays
2                    Until 01:00     Until 01:00     Until 01:00
3                           22.0            22.0            22.0
4                    Until 02:00     Until 02:00     Until 02:00
...                          ...             ...             ...
18245                       22.0            22.0            22.0
18246                Until 23:00     Until 23:00     Until 23:00
18247                       22.0            22.0            22.0
18248                Until 24:00     Until 24:00     Until 24:00
18249                       22.0            22.0            22.0

Zone                      Area10                          Area04  \
device name                 OS11            OS13            OS06
device_prop_name        AHUMGZ01       AHUMGZ01D         AHUGZ01
0                 Through: 01/01  Through: 01/01  Through: 01/01
1                   For: AllDays    For: AllDays    For: AllDays
2                    Until 01:00     Until 01:00     Until 01:00
3                           22.0            22.0            22.0
4                    Until 02:00     Until 02:00     Until 02:00
...                          ...             ...             ...
18245                       22.0            22.0            22.0
18246                Until 23:00     Until 23:00     Until 23:00
18247                       22.0            22.0            22.0
18248                Until 24:00     Until 24:00     Until 24:00
18249                       22.0            22.0            22.0

Zone
device name                 OS05
device_prop_name        AHUMGZ01
0                 Through: 01/01
1                   For: AllDays
2                    Until 01:00
3                           22.0
4                    Until 02:00
...                          ...
18245                       22.0
18246                Until 23:00
18247                       22.0
18248                Until 24:00
18249                       22.0

[18250 rows x 10 columns]

In [18]:
df_satsp_final.drop([('', '', 'created_at'), ('', '', 'Time Until')], axis=1, inplace=True)
df_rat_final.drop([('', '', 'created_at'), ('', '', 'Time Until')], axis=1, inplace=True)
df_ratsp_final.drop([('', '', 'created_at'), ('', '', 'Time Until')], axis=1, inplace=True)
df_ratsp_final

Zone                      Area02          Area01          Area09  \
device name                 OS23            OS01            OS34
device_prop_name        AHUMRF02         AHUMB02        AHUMRF02
0                 Through: 01/01  Through: 01/01  Through: 01/01
1                   For: AllDays    For: AllDays    For: AllDays
2                    Until 01:00     Until 01:00     Until 01:00
3                           18.0            22.0            22.0
4                    Until 02:00     Until 02:00     Until 02:00
...                          ...             ...             ...
18245                       18.0            22.0            22.0
18246                Until 23:00     Until 23:00     Until 23:00
18247                       18.0            22.0            22.0
18248                Until 24:00     Until 24:00     Until 24:00
18249                       18.0            22.0            22.0

Zone                      Area06          Area10                  \
device name                 OS33            OS11            OS13
device_prop_name        AHUMRF04        AHUMGZ01       AHUMGZ01D
0                 Through: 01/01  Through: 01/01  Through: 01/01
1                   For: AllDays    For: AllDays    For: AllDays
2                    Until 01:00     Until 01:00     Until 01:00
3                           22.0            22.0            22.0
4                    Until 02:00     Until 02:00     Until 02:00
...                          ...             ...             ...
18245                       22.0            22.0            22.0
18246                Until 23:00     Until 23:00     Until 23:00
18247                       22.0            22.0            22.0
18248                Until 24:00     Until 24:00     Until 24:00
18249                       22.0            22.0            22.0

Zone                      Area04
device name                 OS06            OS05
device_prop_name         AHUGZ01        AHUMGZ01
0                 Through: 01/01  Through: 01/01
1                   For: AllDays    For: AllDays
2                    Until 01:00     Until 01:00
3                           22.0            22.0
4                    Until 02:00     Until 02:00
...                          ...             ...
18245                       22.0            22.0
18246                Until 23:00     Until 23:00
18247                       22.0            22.0
18248                Until 24:00     Until 24:00
18249                       22.0            22.0

[18250 rows x 8 columns]

In [20]:
df_satsp_final.to_csv("SATSP_Final.csv", index=False)
df_rat_final.to_csv("RAT_Final.csv", index=False)
df_ratsp_final.to_csv("RATSP_Final.csv", index=False)